@charset "utf-8";

/* These are just the general site styles. 
   It has nothing to do with ImageFlow
========================================== */
@media screen, projection, print {
	* {
		font-family: georgia, 'bitstream vera serif', serif; 
		font-weight: normal; 
		font-size: 100.01%;
		margin: 0; 
		padding: 0; 
	}
	html {
		font-size:1.0em;
		line-height: 1.5;
		height: 100%;
	}
	body {
		color:#fff;
		background-color:#fff;
		padding:0;
		margin:0;
	}
	b {
		font-weight:bold;
	}
	a {
		color:#fff;
	}
	p {
		padding:1em;
		margin:1em;
		background:url(iframe02.png);
	}
}