body {
	background-color:#000;
	text-align:center;
	color:#fff;
	margin:0;
	padding:0;
	font-size:100.1%;
	font:83%/1.4 verdana, arial, helvetica, sans-serif;
}
img { 
	position:absolute; 
	top:0px;
	border:none;
}
h1 {
	text-align:center;
}
a{
	color:#fff;
}
.clear{
	clear:both;
}
#images{
	visibility:hidden;
}
#loading{
	margin-top:50px;
	text-align:center;
	width:100%;
}
#loading img{
	margin-top:10px;
	position:relative; 
}
#captions{
	font-weight:bold;
	position:relative; 
	text-align:center;
	z-index:10000;
}
#scrollbar{
	visibility:hidden;
	position:relative; 
	border-bottom:1px solid #b3b3b3;
	z-index:10001;
}
#slider{
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	z-index:10002;
	background-image:url(slider.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;	
}
#imageflow{
	margin-left:350px;
	text-align:left;
}
#changelog{
	width:349px;
	border-right:solid 1px #666;
	float:left;
	margin-top: 15px;
}
#changelog div{
	text-align: justify;
	padding: 0 15px 5px 15px;
}