@charset "utf-8";

/* These are just the general site styles. 
   It has nothing to do with ImageFlow
========================================== */
@media screen, projection, print {
	* {
		font-family: georgia, 'bitstream vera serif', serif; 
		font-weight: normal; 
		font-size: 100.01%;
		margin: 0; 
		padding: 0; 
	}
	html {
		font-size:1.0em;
		line-height: 1.5;
		height: 100%;
	}
	body {
		color:#000;
		background-color:#fff;
		padding:2em 1em 0 1em;
		margin:0;
	}
	b {
		font-weight:bold;
	}
	p {
		margin-top:2em;
	}
	.bqstart, .bqend{
		font-size: 700%;
		line-height:100%;
		color: #999;
		height: 25px;
	}
	.bqstart {
		float: left;
		margin-top:-25px;
		padding-bottom:20px;
	}
	.bqend {
		float: right;
	}
}